html, body{
    height:100%;
    width:100%;
    background-color: #5522BD;
    background: url(image/fundo.svg);
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 100vw;
    overflow: hidden;
}

#titulo{
    position: fixed;
    top:24.22vh;
    left:12.19vw;
    width: 76.75vw;
    height: 35vh;
}

#play{
    position: fixed;
    background-color: #FFAB19;
    color: #FFFFFF;
    font-family: "Orbitron";
    font-style: Medium;
    line-height: 10vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 4vw;
    border-radius: 7px;
    width:23.375vw;
    height: 13.72%;
    left: 39vw;
    top: 57.66vh;
    border: none;
    cursor: pointer; 
}

#config{
    
     position: fixed;
    left: 89.375%;
    top: 82.17%;
    width:6.25%;
    height:13.88%;
}