html, body{
    height:100%;
    width:100%;
    background-color: #5522BD;
    background: url(icons/fundo.svg);
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 100vw;
    overflow: hidden;
}

#btnLevel1{
    position:fixed;
    background-image: url("icons/cadeado.svg"); /*cadeado*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: 7.5vw 16.66vh;
    background-color:  #FFAB19;
    box-shadow: 0px 2.5vh #D18500;
    width: 12.5% ; /*tamanho fixo do botão*/
    height: 27.5%;
    left:19.125%;
    top:16.94%;
    border: none;
    border-radius: 3vw; /*contorce as bordas do botão*/
    cursor: pointer;
  }

  #btnLevel2{
    position:fixed;
    background-image: url("icons/cadeado.svg"); /*cadeado*/
    background-repeat: no-repeat;
    background-position: center;
    
    background-size: 7.5vw 16.66vh;
    background-color:  #FFAB19;
    box-shadow: 0px 2.5vh #D18500;
    width: 12.5% ; /*tamanho fixo do botão*/
    height: 27.5%;
    left:35.375%;
    top:16.94%;
    border: none;
    border-radius: 3vw; /*contorce as bordas do botão*/
    cursor: pointer;
  }

  #btnLevel3{
    position:fixed;
    background-image: url("icons/cadeado.svg"); /*cadeado*/
    background-repeat: no-repeat;
    background-position: center;
    
    background-size: 7.5vw 16.66vh;
    background-color:  #FFAB19;
    box-shadow: 0px 2.5vh #D18500;
    width: 12.5% ; /*tamanho fixo do botão*/
    height: 27.5%;
    left:51.875%;
    top:16.94%;
    border: none;
    border-radius: 3vw; /*contorce as bordas do botão*/
    cursor: pointer;
  }

  #btnLevel4{
    position:fixed;
    background-image: url("icons/cadeadoF.svg"); /*cadeado*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: 7.5vw 16.66vh;
    background-color:  #D08400;
    box-shadow: 0px 2.5vh #8E5A00;
    width: 12.5% ; /*tamanho fixo do botão*/
    height: 27.5%;
    left:68.375%;
    top:16.94%;
    border: none;
    border-radius: 3vw; /*contorce as bordas do botão*/
    cursor: pointer;
  }


  #btnLevel5{
    position:fixed;
    background-image: url("icons/cadeadoF.svg"); /*cadeado*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: 7.5vw 16.66vh;
    background-color:  #D08400;
    box-shadow: 0px 2.5vh #8E5A00;
    width: 12.5% ; /*tamanho fixo do botão*/
    height: 27.5%;
    left:19.125%;
    top:54.16%;
    border: none;
    border-radius: 3vw; /*contorce as bordas do botão*/
    cursor: pointer;
  }

  #btnLevel6{
    position:fixed;
    background-image: url("icons/cadeadoF.svg"); /*cadeado*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: 7.5vw 16.66vh;
    background-color:  #D08400;
    box-shadow: 0px 2.5vh #8E5A00;
    width: 12.5% ; /*tamanho fixo do botão*/
    height: 27.5%;
    left:35.375%;
    top:54.16%;
    border: none;
    border-radius: 3vw; /*contorce as bordas do botão*/
    cursor: pointer;
  }

  #btnLevel7{
    position:fixed;
    background-image: url("icons/cadeadoF.svg"); /*cadeado*/
    background-repeat: no-repeat;
    background-position: center;
    
    background-size: 7.5vw 16.66vh;
    background-color:  #D08400;
    box-shadow: 0px 2.5vh #8E5A00;
    width: 12.5% ; /*tamanho fixo do botão*/
    height: 27.5%;
    left:51.875%;
    top:54.16%;
    border: none;
    border-radius: 3vw; /*contorce as bordas do botão*/
    cursor: pointer;
  }

  #btnLevel8{
    position:fixed;
    background-image: url("icons/cadeadoF.svg"); /*cadeado*/
    background-repeat: no-repeat;
    background-position: center;
    
    background-size: 7.5vw 16.66vh;
    background-color:  #D08400;
    box-shadow: 0px 2.5vh #8E5A00;
    width: 12.5% ; /*tamanho fixo do botão*/
    height: 27.5%;
    left:68.375%;
    top:54.16%;
    border: none;
    border-radius: 3vw; /*contorce as bordas do botão*/
    cursor: pointer;
  }

  #back{
    position: fixed;
  left: 3.85%;
  bottom: 6.06%;
  width:5%;
  height:11.11%;
  }
  